click==8.1.3
colorama==0.4.6
contourpy
cycler
Flask==2.3.2
fonttools
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver
MarkupSafe
matplotlib==3.7.1
numpy
packaging
pandas==2.0.2
pillow
pyparsing
python-dateutil
python-dotenv==1.0.0
pytz
seaborn==0.12.2
six
Werkzeug==3.0.2
